.loading {
  text-align: center;
  margin: 1rem;
  font-size: 24px;
}

.container {
  padding: 2rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.6rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }

  .detailsRow {
    background-color: #fafafa;
  }

  .details {
    white-space: pre-wrap;
    font-size: 0.9rem;
    color: #333;
  }
}

.level_error {
  background-color: #ffeaea;
  color: #d32f2f;
}

.level_warning {
  background-color: #fff7e0;
  color: #f57c00;
}

.level_info {
  background-color: #e8f5e9;
  color: #2e7d32;
}
